* {
  border: 0px solid #d94728;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #535a60

}
header {
  background-color: #535a60;
  color: white;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  text-wrap: wrap
  
  
  
}

hr {

  border: 2px solid #d94728;
  margin-top: 5vh;
  margin-bottom: 5vh
}

hr:first-of-type {
  margin-top: 20vh;
  margin-bottom: 15vh
}


#header-img {
  max-width: 5rem;
  max-height: 5rem;
  
}
nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}


.nav-link {
  color: #ffffff;
  text-decoration: none;
  padding: 50px;
  font-weight: bold;
  
  
}

.headline-section {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap
  
}


.main-headline {
  font-size: 2.5rem;
  max-width: 60vw;

}

.second-headline {
  font-size: 1.5rem;
  max-width: 50vw
}

.headline-image {
  max-width: 30vw;
  align-self: flex-end;
  max-height: 400px
  

  
}

.three-features {
  
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
  
}

.usp-para {
  max-width: 50%;
  font-size: 1.5rem;
  line-height: 200%
}

.usp {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 30px
}

.fullstop {
  color: red;
  font-weight: bold;
  font-family: Helvetic
}

.feature {
  max-height: 80px;
  justify-items: center
}

h4 {
  font-size: 1.5rem
}

.testimonials {
  
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 5px;
  padding: 5px;
  
}

.quote {
  font-style: italic
}

.testimonials-heading {
  font-size: 2rem;
  font-style: italic;
  text-align: center;
  margin-bottom: 5vh
}

.contact {
  padding-top: 20px;
  padding-left: 5px;


  color: #535a60;
display: grid;
  grid-template-columns: auto auto auto ;
  gap: 5px;
  padding: 5px;
  
}

.social-icons {
  padding-top: 20px;
  padding-left: 5px;


  color: #535a60;
display:flex;
justify-content: flex-end;
flex-direction: row;
  
  gap: 5px;
  padding: 5px;
  
}

input[type="email"] {
  border: 2px solid #535a60;
  border-radius: 5%
}

input[type="submit"] {
  margin-left: 5px 
}

input[type="submit"]:hover, button:hover {
  cursor: pointer
}

button {
  background-color: red;
  color: white;
  border-radius: 5px;
  border: 5px solid red;
  width: 30%;
  height: 5vh;
  font-size: 1.5rem;
  border-style: outset;
  
}



@media (max-width: 1000px) {
  button {
background-color: red;
  color: white;
  border-radius: 5px;
  border: 5px solid red;
  width: 30%;
  height: 5vh;
  font-size: 1rem;
  border-style: outset;
}
.main-headline {
  font-size: 2rem;

}
.second-headline {
  font-size: 1.2rem;
}
.testimonials {
  
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  padding: 5px;
}
.usp-para {
  font-size: 1rem;
}
#video {
  max-width: 40%;
  height: auto
}
hr:first-of-type {
  margin-top: 10vh;
  margin-bottom: 5vh
}
.feature {
  max-height: 40px;
}
h4 {
  font-size: 1rem
}
}